<%= form_with(model: @picture, local: true, html: { multipart: true }) do |form| %>

  <div class="field">
    <%= select_tag(:restaurant_id, options_for_select(@restaurant), :prompt => "Select a restaurant") %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :picture_image %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :picture_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
