<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<% @pictures.each do |picture| %>
<div class="col-md-4">
  <div class="panel panel-primary">
    <%= picture.title %>
    <%= image_tag(picture.image, class: 'img-responsive img-thumbnail', style: 'max-height: 300px;') %>
    <%= link_to 'Show', picture %>
    <%= link_to 'Edit', edit_picture_path(picture) %>
    <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>
<br>

<%= link_to 'New Picture', new_picture_path %>
