<p id="notice"><%= notice %></p>


<div class="container">
<h1>Restaurants</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr class="active">
      <th>Name</th>
      <th>Comment</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <%#= restaurant.pictures.inspect %>
      <tr class="active">
        <td><%= restaurant.name %></td>
        <td><%= restaurant.comment %></td>
        <td><%= restaurant.price %></td>
        <td><%= link_to 'Add a pic', restaurant %></td>
        <% if @current_user == restaurant.user %>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
          <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
