<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
  <strong>comment:</strong>
  <%= @restaurant.comment %>
</p>
<p>
  <strong>Price:</strong>
  <%= @restaurant.price %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
