<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%#= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <%= render 'layouts/header' %>
    <div class="container">
      <%= link_to "WynEats", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Log in</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <% if @current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
  <% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %>


  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
